html,
body {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	color: $main;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1325px;
	margin: 0 auto;
	padding: 0 15px;
}