@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    padding-top: 51px;
    padding-bottom: 120px;

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 25px 15px 20px;
        background: #FFFFFF;
        border-radius: 50px;
    }

    &__btn {
        @extend %button-null;

        background: $blue;
        border-radius: 50px;
        width: 225px;
        height: 52px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        transition: all .6s;

        &:hover {
            background-color: #FFFF;
            border: 1px solid $blue;
            color: $blue;
        }
    }
}

.menu {

    &__list {
        display: flex;
    }

    &__list-item+&__list-item {
        margin-left: 35px;
    }

    &__list-link {
        font-size: 20px;
        line-height: 30px;
        color: #252525;
        transition: all .6s;

        &:hover {
            color: $blue;
        }
    }
}

.burger {
    @extend %button-null;

    $block: &;
    display: none;
    position: relative;
    width: 30px;
    height: 20px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        left: 0;
        transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, bottom 0.3s ease-in-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &__line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.4s ease-in-out;
    }

    &--active {
        #{$block}__line {
            opacity: 0;
        }

        &::before {
            top: 50%;
            transform: rotate(45deg);
        }

        &::after {
            top: 50%;
            bottom: auto;
            transform: rotate(-45deg);
        }
    }

}

.promo {
    background: url('../images/main_bg.jpg') center bottom /cover no-repeat;
    min-height: 981px;
    position: relative;

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        img {
            object-fit: cover;
        }
    }

    &__title {
        max-width: 634px;
        font-weight: 700;
        font-size: 65px;
        line-height: 98px;
        color: #252525;
    }

    &__descr {
        max-width: 588px;
        color: #252525;
        opacity: 0.6;
    }
}


.form {
    display: flex;
    align-items: center;
    margin-top: 84px;
    max-width: 690px;

    &__btn {
        @extend %button-null;

        background: $blue;
        border-radius: 10px;
        width: 250px;
        height: 76px;
        font-weight: 600;
        color: #FFFFFF;
        transition: all .6s;

        &:hover {
            background-color: #FFFF;
            border: 1px solid $blue;
            color: $blue;
        }
    }

    &__box {
        position: relative;
        margin-left: 19px;
    }

    &__input {
        background: #FFFFFF;
        padding: 23px 0px 23px 25px;
        border: 1px solid transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width: 420px;
        height: 76px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 30px;
        color: $main;
        transition: all .6s;

        &:hover {
            border: 1px solid $blue
        }
    }

    &__btn-search {
        @extend %button-null;

        width: 50px;
        height: 50px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

    }
}

.panel {
    position: absolute;
    top: -77px;
    left: 0;
    right: 0;

    &__box {
        display: flex;
        background-color: #FFFFFF;
        padding: 41px 76px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }

    &__item+&__item {
        margin-left: 150px;
    }

    &__item {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 111px;
        height: 111px;
        background-color: #F2FAFA;
        border-radius: 50%;
    }

    &__title {
        margin-top: 15px;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        color: #252525;
    }
}

.freelancers {
    margin-top: 460px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        position: relative;
    }

    &__sticker {
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;


        &--big {
            width: 297px;
            height: 132px;
            bottom: 220px;
            right: -60px;
        }

        &--small {
            width: 162px;
            height: 140px;
            top: 34px;
            left: 300px;
        }
    }

    &__sticker-counter {
        color: $blue;
        font-weight: 600;
    }

    &__text {
        max-width: 516px;
        text-align: right;
    }

    &__title {
        font-weight: 500;
        font-size: 56px;
        line-height: 84px;
        color: #252525;

        span {
            color: $blue;
        }
    }

    &__descr {
        max-width: 512px;
    }
}

.carousel {
    margin-top: 176px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__subtitle {
        font-size: 36px;
        line-height: 54px;
    }

    &__title {
        font-weight: 500;
        font-size: 56px;
        line-height: 84px;
        color: #252525;

        span {
            color: #1E88E5;
        }
    }

    &__nav-btn {
        @extend %button-null;

        margin-left: 25px;
        padding: 16px;
        background-color: #FFFF;
        border-radius: 50%;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        width: 62px;
        height: 62px;

        &:hover {
            background-color: #1E88E5;

            svg {
                path {
                    fill: #FFFF;
                }
            }
        }
    }

    &__bottom {
        margin-top: 75px;
        display: flex;
        justify-content: space-between;
    }

    &__card+&__card {
        margin-left: 76px;
    }

    &__card {
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__card-title {
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #252525;
        margin-top: 30px;
    }

    &__card-descr {
        margin-top: 5px;
    }

    &__card-price {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #252525;
        opacity: 0.7;

        a {
            margin-left: 68px;
            font-weight: 500;
            color: $blue;
            transition: all .6s;

            &:hover {
                text-decoration-line: underline;
            }
        }
    }
}

.footer {
    margin-top: 206px;
    margin-bottom: 84px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__descr {
        font-size: 18px;
        line-height: 27px;
        color: #252525;
        max-width: 312px;
    }

    &__social-list {
        display: flex;
        margin-top: 20px;
    }

    &__social-item+&__social-item {
        margin-left: 27px;
    }

    &__title {
        font-weight: 500;
        color: #252525;
        margin-bottom: 40px;
    }

    &__clients-link,
    &__freelancers-link,
    &__contacts-link {
        font-size: 18px;
        line-height: 27px;
        color: #252525;
        transition: all .6s;

        &:hover {
            color: $blue;
        }
    }
}

.copyright {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 27px;
}

.stop-scroll {
    overflow: hidden;
}

@import 'media';